@use "../../index.scss" as general;
.project {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;

  .project-title {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
  }

  .project-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    .project-item {
      h2 {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      .project-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 20px;

        @include general.tablet {
          grid-template-columns: repeat(2, 1fr);
        }
        @include general.mobile {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

.project[data-theme="dark"] {
  color: var(--color-white);
  a {
    color: var(--color-white);
  }
}
