.home-content {
  width: 100%;
}

.home-content[data-theme="dark"] {
  background: var(--color-dark);
}

.home-content[data-lang="vn"] {
  font-family: var(--font-title);
}
.home-content[data-lang="jp"] {
  font-family: var(--font-JP);
}