@use "../../index.scss" as general;
.feature {
  width: 80%;
  margin: 20px auto;
  min-height: 80vh;
  @include general.tablet {
    min-height: 50vh;
  }

  .feature-title {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
  }

  .feature-content {
    width: 100%;
    position: relative;
    height: 350px;
    @include general.tablet {
      height: 300px;
    }

    @include general.mobile {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
      position: static;
      height: auto;
    }
    img {
      width: 60%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
      top: 0;
      right: 0;

      @include general.tablet {
        width: 80%;
      }

      @include general.mobile {
        width: 100%;
        position: static;
       
      }
    }

    .feature-description {
      width: 40%;
      text-align: justify;
      border: 2px solid var(--color-dark);
      background: var(--color-white);

      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);

      box-shadow: -12px 10px 0px 0px #000;
      -webkit-box-shadow: -12px 10px 0px 0px #000;
      -moz-box-shadow: -12px 10px 0px 0px #000;

      @include general.tablet {
        width: 60%;
        left: 0;
      }

      @include general.mobile {
        width: 100%;
        position: static;
        transform: none;
      }
      .feaDes-top {
        width: 100%;
        padding: 20px;
        border-bottom: 2px solid var(--color-dark);
      }

      .feaDes-bottom {
        width: 100%;
        padding: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          display: flex;
          transform: scale(1.5);
          cursor: pointer;
        }
      }
    }
  }

  .feature-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;

    a {
      background: var(--color-dark);
      color: var(--color-white);
      border-radius: var(--bor-10);
      padding: 10px 20px;

      &:hover {
        outline: 2px solid var(--color-dark);
        background: var(--color-white);
        color: var(--color-dark);
      }
    }
  }
}

.feature[data-theme="dark"] {
  .feature-content {
    .feature-description {
      box-shadow: -12px 10px 0px 0px var(--color-white);
      -webkit-box-shadow: -12px 10px 0px 0px var(--color-white);
      -moz-box-shadow: -12px 10px 0px 0px var(--color-white);
    }
  }

  .feature-button {
    a {
      background: var(--color-white);
      color: var(--color-dark);

      &:hover {
        outline: 2px solid var(--color-white);
        background: var(--color-dark);
        color: var(--color-white);
      }
    }
  }
}
