@use "../../index.scss" as general;
.contact {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid var(--color-dark);
  box-shadow: -11px -7px 0px 1px #000;
  background: var(--color-secondary-yl);

  .contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;

    p {
      font-weight: 700;
      margin: 10px 0;
      font-size: var(--fz-20);
    }
  }

  .contact-content {
    display: flex;

    .contact-contentLeft {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 20px;

      .contact-contentLeft-item {
        width: 90%;
        margin: 5px auto;
        padding: 10px;

        border: 2px solid var(--color-dark);
        border-radius: var(--bor-10);

        background: var(--color-dark);
        color: var(--color-white);
        h4 {
          display: flex;
          align-items: center;
          font-weight: 700;
          & > * {
            margin-right: 5px;
          }
        }
        p {
          overflow-wrap: break-word;
        }
      }
    }

    .contact-contentRight {
      flex: 2;

      .contact-contentRight-item {
        width: 80%;
        margin: 0 auto;

        display: flex;
        justify-content: center;

        input,
        textarea {
          width: 100%;
          padding: 10px;
          margin: 5px 0;

          border: 2px solid var(--color-dark);
          font: inherit;

          &:focus {
            outline: 2px solid var(--color-dark);
          }
        }

        button {
          background: var(--color-dark);
          color: var(--color-white);
          padding: 10px 20px;
          box-shadow: 5px 5px 0px 1px var(--color-white);
          font-weight: 900;
          margin-top: 20px;
          font: inherit;
          &:hover {
            outline: 4px solid var(--color-dark);
            background: var(--color-white);
            color: var(--color-dark);
          }
        }
      }
    }
  }

  //----------- RESPONSIVE --------
  @include general.tablet {
    .contact-content {
      flex-direction: column;
      gap: 20px;
    }
  }

  @include general.mobile {
    width: 90%;
    .contact-title {
      p {
        text-align: center;
      }
    }
    .contact-content {
      .contact-contentLeft {
        .contact-contentLeft-item {
          width: 100%;
        }
      }

      .contact-contentRight {
        .contact-contentRight-item {
          width: 100%;
        }
      }
    }
  }
}

.contact[data-theme="dark"] {
  box-shadow: none;
  border: 4px solid var(--color-white);
}
