@use "../../index.scss" as general;
header {
  width: 100%;
  padding: 120px 40px 40px 40px;
  min-height: 100vh;

  display: flex;
  align-items: center;
  /* ---------- HEADER LEFT --------- */
  .header-left {
    flex: 1;
    height: 100%;
    padding: 0 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      display: block;
      border-radius: var(--bor-50);
    }
  }
  /* ---------- HEADER RIGHT --------- */
  .header-right {
    flex: 2;
    padding: 0 20px;

    .header-job {
      margin-bottom: 20px;
    }

    .header-desc {
      margin-bottom: 20px;
      text-align: justify;
    }

    .header-buttons {
      a {
        padding: 10px;

        box-shadow: 5px 5px 0px 1px #000;
        display: inline-block;
        border-radius: var(--bor-5);

        &:first-child {
          background: var(--color-secondary-yl);
          color: var(--color-dark);
          border: 2px solid var(--color-secondary-yl);

          margin: 5px 10px 5px 0;
          &:hover {
            background: var(--color-dark);
            color: var(--color-white);
          }
        }

        &:nth-child(2) {
          background: var(--color-white);
          color: var(--color-dark);
          border: 2px solid var(--color-dark);

          margin: 5px;

          &:hover {
            background: var(--color-dark);
            color: var(--color-white);
            border: 2px solid var(--color-white);
          }
        }

        &:last-child {
          background: var(--color-primary-bl);
          border: 2px solid var(--color-primary-bl);
          color: var(--color-white);

          margin: 5px;

          &:hover {
            background: var(--color-bg-variant);
          }
        }
      }
    }

    .header-seeMore {
      margin-top: 20px;

      p:last-child {
        text-align: center;

        font-size: 30px;
        animation: move-down 3s infinite ease-in-out;
      }

      @keyframes move-down {
        0% {
          transform: translateY(0);
        }
        30% {
          transform: translateY(30px);
        }
      }
    }
  }
}


/* ----------------------------------------- */
/* --------- TABLET ------------------*/
@include general.tablet {
  header {
    flex-direction: column;
    min-height: 70vh;

    /* ---------- HEADER LEFT --------- */
    .header-left {
      flex: 1;

      img {
        width: 50%;

        margin: 0 auto;

        border-radius: var(--bor-10);
      }
    }

    /* ---------- HEADER RIGHT --------- */
    .header-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header-title {
        margin-top: 20px;
        text-align: center;
      }

      .header-desc {
        width: 60%;
        margin: 20px auto;
      }
    }
  }
}

/* --------- MOBILE ------------------*/
@include general.mobile {
  header {
    padding: 120px 20px 0 20px;
    /* ---------- HEADER LEFT --------- */

    .header-left {
      img {
        width: 80%;
      }
    }

    .header-right {
      .header-title {
        h1 {
          font-size: var(--fz-24);
        }
      }

      .header-job {
        text-align: center;
      }

      .header-desc {
        width: 100%;
        margin: 20px auto;
      }

      .header-buttons {
        width: 100%;
        padding: 20px 0;
        background: var(--color-dark);

        border-radius: var(--bor-10);

        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          box-shadow: none;
          display: block;
          width: 80%;
          margin: 5px 0;
          border-radius: var(--bor-10);

          &:first-child {
            background: var(--color-dark);
            color: var(--color-white);
            border: 4px solid var(--color-secondary-yl);

            margin: 5px 0;

            &:hover {
              background: var(--color-secondary-yl);
              color: var(--color-dark);
            }
          }

          &:nth-child(2) {
            background: var(--color-dark);
            color: var(--color-white);
            border: 4px solid var(--color-secondary-yl);

            margin: 5px 0;

            &:hover {
              background: var(--color-secondary-yl);
              color: var(--color-dark);
              border: 4px solid var(--color-secondary-yl);
            }
          }

          &:last-child {
            background: var(--color-dark);
            color: var(--color-white);
            border: 4px solid var(--color-secondary-yl);

            margin: 5px 0;

            &:hover {
              background: var(--color-secondary-yl);
              color: var(--color-dark);
            }
          }
        }
      }
    }
  }
}

header[data-theme="dark"] {
  color: white;
  background: black;

  .header-right {
    .header-buttons {
      a {
        box-shadow: 5px 5px 0px 1px #fff;

        &:first-child {
          border: 2px solid var(--color-dark);

          &:hover {
            border: 2px solid var(--color-secondary-yl);
          }
        }

        &:last-child {
          border: 2px solid var(--color-dark);
        }
      }

      @include general.mobile {
        border: 2px solid var(--color-white);

        a {
          box-shadow: none;
          background: var(--color-secondary-yl);
          color: var(--color-dark);
          border: none !important;

          &:hover {
            background: var(--color-dark);
            color: var(--color-white);
            outline: 4px solid var(--color-secondary-yl);
          }
        }
      }
    }
  }
}
