@use "../../index.scss" as general;
nav {
  width: 100%;
  padding: 20px 40px;
  height: 100px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--color-white);

  transition: var(--transition);
  &.scrollNav {
    padding: 15px 40px;
    height: 80px;
    background: rgba($color: #fff, $alpha: 0.8);
  }

  .nav-menu {
    display: none;
  }
  .nav-left {
    flex: 2;
    display: block;
    .navLeft-wrapper {
      .nav-close {
        display: none;
      }
      a {
        padding: 10px;

        &:hover {
          outline: 2px solid var(--color-dark);
          background: var(--color-secondary-yl);
        }

        &.activeSec{
          outline: 2px solid var(--color-dark);
          background: var(--color-secondary-yl);
        }
      }
    }
  }
  .nav-logo {
    flex: 1;
    text-align: center;

    font-family: var(--font-logo);
    font-weight: var(--fw-900);
    font-size: var(--fz-30);
  }

  .nav-right {
    flex: 2;
    display: flex;

    justify-content: center;
    gap: 20px;

    .navRight-theme {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-bottom: 10px;
      }
      .theme-icon {
        display: flex;
        align-items: center;
        span {
          margin: 10px;
          padding: 5px;

          transition: var(--transition);
          cursor: pointer;

          border-radius: var(--bor-5);

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            outline: 2px solid var(--color-dark);
          }

          &.activeTheme {
            outline: 2px solid var(--color-dark);
          }
        }
      }
    }

    .navRight-languages {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-bottom: 10px;
      }

      .dropdown-container {
        background: transparent;

        position: relative;
        .dropdown-header {
          border: 2px solid var(--color-dark);
          width: 150px;
          padding: 5px;

          font-weight: 500;
          font-size: var(--fz-14);
          color: var(--color-dark);
          background: #ffffff;

          cursor: pointer;
          transition: var(--transition);

          &:hover {
            background: var(--color-secondary-yl);
          }
          span {
            margin-right: 10px;
          }
        }

        .dropdown-listContainer {
          position: absolute;
          top: 50px;

          ul {
            width: 150px;
            padding: 5px;
            background: rgb(237, 234, 234);
            border: 2px solid var(--color-dark);
            box-sizing: border-box;
            color: var(--color-dark);
            font-size: 14px;
            font-weight: 500;

            &:first-child {
              padding-top: 0.8em;
            }

            li {
              margin-bottom: 10px;
              transition: var(--transition);
              cursor: pointer;
              &:hover {
                background: var(--color-dark);
                color: var(--color-white);
                border-radius: var(--bor-5);
              }

              span {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  /*-----------------------------------------*/
  // ------------- RESPONSIVE ----------------

  //TABLET
  @include general.tablet {
    // -------- NAV LEFT ----------
    .nav-left {
      display: block;
      .navLeft-wrapper {
        a {
          font-size: var(--fz-14);
        }
      }
    }
    // -------- NAV LOGO ----------
    .nav-logo {
      font-size: var(--fz-24);
    }
    // -------- NAV RIGHT ----------
    .nav-right {
      .navRight-theme,
      .navRight-languages {
        p {
          display: none;
        }
      }

      .navRight-languages {
        .dropdown-container {
          top: -5px;
          left: 0;
        }
      }
    }
  }

  //MOBILE
  @include general.mobile {
    .nav-menu {
      display: flex;

      cursor: pointer;
      flex: 1;
    }
    .nav-left {
      display: none;

      &.activeNav {
        display: block;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        background: rgba($color: #000, $alpha: 0.6);
      }

      .navLeft-wrapper {
        background: var(--color-white);

        width: 80%;
        height: 350px;
        overflow-y: scroll;
        margin: 0 auto;
        padding: 20px;

        border: 4px solid var(--color-secondary-yl);

        position: relative;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-close {
          display: flex;
          align-self: flex-end;

          transition: var(--transition);
          padding: 5px;

          cursor: pointer;

          &:hover {
            background: var(--color-secondary-yl);
            outline: 2px solid var(--color-dark);
          }
        }

        .navRight-languages {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          position: static;
          p {
            margin-bottom: 10px;
          }

          .dropdown-container {
            background: transparent;
            position: static;
            transform: none;
            .dropdown-header {
              border: 2px solid var(--color-dark);
              width: 150px;
              padding: 5px;

              font-weight: 500;
              font-size: var(--fz-14);
              color: var(--color-dark);
              background: #ffffff;

              cursor: pointer;
              transition: var(--transition);

              &:hover {
                background: var(--color-secondary-yl);
              }
              span {
                margin-right: 10px;
              }
            }

            .dropdown-listContainer {
              margin-top: 10px;
              ul {
                width: 150px;
                padding: 5px;
                background: rgb(237, 234, 234);
                border: 2px solid var(--color-dark);
                box-sizing: border-box;
                color: var(--color-dark);
                font-size: 14px;
                font-weight: 500;

                &:first-child {
                  padding-top: 0.8em;
                }

                li {
                  margin-bottom: 10px;
                  transition: var(--transition);
                  cursor: pointer;
                  &:hover {
                    background: var(--color-dark);
                    color: var(--color-white);
                    border-radius: var(--bor-5);
                  }

                  span {
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .nav-logo {
      flex: 2;
    }

    .nav-right {
      flex: 2;
      .navRight-theme {
        width: 100%;
        .theme-icon {
          display: flex;
          span {
            margin: 0;
            padding: 10px;
            & > * {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

nav[data-language="vn"] {
  font-family: var(--font-title);
}

nav[data-language="jp"] {
  font-family: var(--font-JP);
}
