@use "../../index.scss" as general;
.skill {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  .skill-title {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
  }

  .skill-content {
    display: flex;
    align-items: center;

    .skill-contentLeft {
      flex: 3;

      img {
        width: 80%;
        margin: 0 auto;
        border-radius: var(--bor-10);
      }
    }

    .skill-contentRight {
      flex: 2;

      display: flex;
      flex-direction: column;
      gap: 20px;

      h2 {
        font-weight: var(--fw-900);
      }

      .skill-contentRight-item {
        padding-bottom: 20px;
        border-bottom: 2px solid var(--color-gray);

        .sci-title {
          display: flex;
          gap: 30px;
          margin-bottom: 20px;

          h3 {
            font-weight: var(--fw-700);
          }
        }

        .sci-lists {
          display: flex;

          .left,
          .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
              display: flex;
              align-items: center;

              width: max-content;
              padding: 5px 10px;
              border-radius: var(--bor-10);

              & > * {
                margin: 5px;
              }

              & > *:first-child {
                font-size: var(--fz-30);
              }
            }
          }
        }
      }
    }
  }

  //-----------RESPONSIVE---------------
  @include general.tablet {
    .skill-content {
      width: 100%;
      flex-direction: column-reverse;

      .skill-contentLeft {
        width: 100%;
        img {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }

  @include general.mobile {
    .skill-contentRight {
      h2 {
        text-align: center;
      }
    }
  }
}

.skill[data-theme="dark"] {
  color: var(--color-white);
}
