footer{
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid var(--color-dark);
    text-align: center;
    font-family: var(--font-logo);
    font-size: var(--fz-24);
}

footer[data-theme="dark"]{
    color: var(--color-white);
    border-top: 2px solid var(--color-white);
}