.title {
  font-size: var(--fz-30);
  font-weight: 900;
  border: 2px solid var(--color-dark);
  padding: 10px 20px;
}
.title[data-theme="dark"] {
  &.dark {
    color: var(--color-white);
    border: 2px solid var(--color-white);
  }
}

