@use "../../../index.scss" as general;
.card {
  width: 90%;
  margin: 0 auto;
  border: 2px solid var(--color-dark);
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;

  .card-top {
    width: 100%;
    height: 200px;

    border: 2px solid var(--color-dark);
    border-radius: var(--bor-10);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--bor-10);
    }
  }
  .card-content {
    width: 100%;
    margin: 20px 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    h3 {
      font-weight: var(--fw-900);
    }
  }
  .card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    a {
      flex: 1;
      text-align: center;
      border: 2px solid var(--color-dark);

      &:hover {
        background: var(--color-dark);
        color: var(--color-white);
      }
    }
  }
}

.card[data-theme="dark"] {
  border: 2px solid var(--color-white);

  .card-top {
    border: 2px solid var(--color-white);
  }

  .card-bottom {
    a {
      border: 2px solid var(--color-white);

      &:hover {
        background: var(--color-secondary-yl);
        color: var(--color-dark);
      }
    }
  }
}
