@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Vollkorn:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-bl: #564fd9;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-secondary-yl: #fcd403;
  --color-white: #fff;
  --color-dark: #000;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-gray: lightgray;

  --fz-14: 14px;
  --fz-20: 20px;
  --fz-24: 24px;
  --fz-30: 30px;

  --fw-300: 300;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  --transition: all 300ms ease;

  --container-width-lg: 80%;
  --container-width-md: 85%;
  --container-width-sm: 100%;

  --bor-5: 5px;
  --bor-10: 10px;
  --bor-50: 50%;

  --font-Viet: "Roboto", sans-serif;
  --font-Eng: "Poppins", sans-serif;
  --font-JP: "Noto Serif JP", serif;
  --font-logo: "Dancing Script", cursive;
  --font-title: "Vollkorn", serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-white);
  color: var(--color-dark);
  line-height: 1.7;
}

/* GENERAL STYLES */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
h1 {
  font-weight: 900;
}
h2,
h3,
h4 {
  font-weight: 500;
}

textarea, input, button {
  font: inherit;
}
.text-light {
  color: var(--color-light);
}
a {
  color: var(--color-dark);
  transition: var(--transition);
}

button {
  background: transparent;
  width: max-content;
  cursor: pointer;
  transition: var(--transition);
}

.btn-light {
  background: var(--color-white);
  border: 2px solid var(--color-dark);
}
// ------------------------------------
//----------  RESPONSIVE --------------

// MEDIUM DEVICE (TABLET)
@mixin tablet {
  @media (max-width: 1024px) {
    .container {
      width: var(--container-width-md);
    }
    @content;
  }
}

// SMALL DEVICE (MOBILE)
@mixin mobile {
  @media (max-width: 800px) {
    .container {
      width: var(--container-width-sm);
    }
    @content;
  }
}
